$black: #161616;
$silver: #696871;
$lightSilver: #EEF0F6;
$white: #FFFFFF;
$red: #E94A47;
$purple: #5F58B7;


$purpleGradient: linear-gradient(180deg, #C79AEA 0%, #918FDF 100%);

$pinkGradient: linear-gradient(77deg,#f5286e,#fc6d43);

$blackGradient: linear-gradient(60deg, #29323c 0%, #485563 100%);
