@import '../../../styles.scss';

.side-bar{
  background: $purpleGradient;
  width: 100%;
  height: 100vh;
  padding: 1.25rem;
  position: relative;
  .top-logo{
    a{
      font-size: 1.25rem;
      font-weight: 600;
      color: $white;
      cursor: pointer;
    }
  }
  .center-nav{
    margin-top: 80%;
    ul{
      list-style: none;
      margin-bottom: 0;
      padding-left: 0;
      li{
        // padding-top: 0.625rem;
        a{
          font-size: 0.875rem;
          color: $white;
          cursor: pointer;
          padding: 8px 10px;
          display: block;
          &:hover{
            transition: 0.5s;
            opacity: 0.5s;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 4.56158px;
          }
          i{
            padding-right: 0.313rem;
          }
        }
      }
    }
    .press{
      margin-top: 18%;
      cursor: pointer;
    }
  }
  .bottom-user{
    position: absolute;
    top: 155%;
    left: 30px;
    cursor: pointer;
    img{
      width: 25px;
      height: 25px;
      object-position: center;
      object-fit: cover;
      border: 3px solid $white;
      border-radius: 50px;
    }
    h6{
      color: $white;
      padding-left: 0.625rem;
      font-size: 0.813rem;
      padding-top: 0.188rem;
    }
  }
}
