<div class="search-bar">
  <div class="container">
    <div class="row">

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for..." aria-label="Search"> <i class="fas fa-search"></i>
      </form>

      <div class="cards">
        <div class="row">

          <div class="col-6">
            <div class="card-inner" style="background-image: url(../../../assets/img/img1.jpg);">
              <p>Depression</p>
            </div>
          </div>

          <div class="col-6">
            <div class="card-inner" style="background-image: url(../../../assets/img/img1.jpg);">
              <p>Depression</p>
            </div>
          </div>

          <div class="col-6">
            <div class="card-inner" style="background-image: url(../../../assets/img/img1.jpg);">
              <p>Depression</p>
            </div>
          </div>

          <div class="col-6">
            <div class="card-inner" style="background-image: url(../../../assets/img/img1.jpg);">
              <p>Depression</p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>







