<div class="search-bar">
  <div class="container">
    <div class="row">

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search for..." aria-label="Search">
        <a (click)="onSearchClick()"><i class="fas fa-search"></i></a>
      </form>

      <div class="col-12">
        <div class="cards">
          <div class="row justify-content-between">

            <div class="card-inner" style="background-image: url({{item.img}});" *ngFor="let item of data">
              <p>{{item.name}}</p>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>







